<div class="row">
  <div class="col-md-12">
    <h2>订单明细 (<%= render_order_paid_state(@order) %>)</h2>

    <%= render "admin/orders/state_option", order: @order %>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th width="80%">商品明细</th>
          <th>单价</th>
          <th>数量</th>
        </tr>
      </thead>
      <tbody>
        <% @product_lists.each do |product_list| %>
        <!--# 把 @product_lists 里的每一个 放到 |product_list| 此为常量
      |product_list| 是 @product_lists 里的一条  代替前面的 实例变量 -->
        <tr>
          <td><%= product_list.product_name %></td>
        <!-- # 这里的 product_list 为常量  就是上边定义好的|product_list| -->
          <td><%= product_list.product_price %></td>
          <td><%= product_list.quantity %></td>
        </tr>
        <% end %>

      </tbody>
    </table>

     <div class="total clearfix">
       <span class="pull-right">
         总计 <%= @order.total %> CNY
       </span>
     </div>

   <hr>

   <h2>寄送信息</h2>

   <table class="table table-striped table-bordered">
     <tbody>
       <tr>
         <td>订购人</td>
       </tr>
       <tr>
         <td><%= @order.billing_name %> - <%= @order.billing_address %></td>
       </tr>
       <tr>
         <td>收件人</td>
       </tr>
       <tr>
         <td><%= @order.shipping_name %> - <%= @order.shipping_address %></td>
       </tr>
     </tbody>
   </table>
  </div>
</div>
